In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Data=pd.read_csv('Car_Sales_Extended_Missing_Data.csv')

In [3]:
Data.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [4]:
Data.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [5]:
Data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [6]:
Data['Make'].fillna('Missing',inplace=True)
Data['Colour'].fillna('Missing',inplace=True)
Data['Odometer (KM)'].fillna(Data['Odometer (KM)'].mean(),inplace=True)

In [7]:
Data['Doors'].value_counts()

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

In [8]:
Data['Doors'].fillna('4',inplace=True)

In [9]:
# DROP ALL NULL VALUES
Data.dropna(axis=0,inplace=True)

In [10]:
Data['Price'].isna().sum()

0

In [11]:
Data.isnull().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [12]:
len(Data)

950