In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Data=pd.read_csv('Car_Sales_Extended_Missing_Data.csv')

In [3]:
Data.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [4]:
Data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [5]:
Data.dropna(subset=['Price'],inplace=True)
Data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [6]:
len(Data)

950

In [7]:
x=Data.drop('Price',axis=1)
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[950 rows x 4 columns]

In [8]:
y=Data['Price']
y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 950, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
x.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
dtype: int64

In [11]:
y.isna().sum()

0

In [12]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [13]:
# IMPUTERS ARE JUST FILLING THE MISSING VALUES
# KEEP THE STRATERGY AS CONSTANT AND FILL THE MISSING VALUES YOU WANT
Categorical_Imputer=SimpleImputer(strategy='constant',fill_value='Missing')
Labelled_Imputer=SimpleImputer(strategy='constant',fill_value=4)
Numerical_Imputer=SimpleImputer(strategy='mean')

In [14]:
Categorical_Features=['Make','Colour']
Labelled_Features=['Doors']
Numerical_Features=['Odometer (KM)']

In [15]:
# COLUMN TRANSFORMER TAKES THE LISTS OF TRANSORMER WE WANT TO TRANSFORM
CT=ColumnTransformer([('Categorical',Categorical_Imputer,Categorical_Features),('Labelled',Labelled_Imputer,Labelled_Features),('Numerical',Numerical_Imputer,Numerical_Features)])

In [16]:
Filled_train=CT.fit_transform(x_train)
Filled_test=CT.fit_transform(x_test)

In [17]:
Filled_train

array([['Honda', 'White', 4.0, 71934.0],
       ['Toyota', 'Red', 4.0, 162665.0],
       ['Honda', 'White', 4.0, 42844.0],
       ...,
       ['Toyota', 'White', 4.0, 196225.0],
       ['Honda', 'Blue', 4.0, 133117.0],
       ['Honda', 'Missing', 4.0, 150582.0]], dtype=object)

In [18]:
Filled_test

array([['Toyota', 'Blue', 4.0, 99761.0],
       ['Toyota', 'Black', 4.0, 17975.0],
       ['Honda', 'Blue', 4.0, 197664.0],
       ['Nissan', 'Green', 4.0, 235589.0],
       ['Honda', 'Black', 4.0, 231659.0],
       ['Toyota', 'Blue', 4.0, 247601.0],
       ['Toyota', 'Green', 4.0, 110078.0],
       ['Missing', 'White', 4.0, 155383.0],
       ['Nissan', 'White', 4.0, 26634.0],
       ['Honda', 'White', 4.0, 133706.16853932585],
       ['Honda', 'Green', 4.0, 238825.0],
       ['Honda', 'Green', 4.0, 37606.0],
       ['Toyota', 'Blue', 4.0, 230908.0],
       ['Toyota', 'Red', 4.0, 159925.0],
       ['Toyota', 'Blue', 4.0, 181466.0],
       ['Toyota', 'Blue', 4.0, 140465.0],
       ['Toyota', 'White', 4.0, 146307.0],
       ['Toyota', 'Green', 4.0, 214179.0],
       ['Honda', 'White', 4.0, 184869.0],
       ['Toyota', 'Black', 4.0, 224986.0],
       ['Nissan', 'White', 3.0, 176135.0],
       ['Nissan', 'Red', 4.0, 133706.16853932585],
       ['Toyota', 'Blue', 4.0, 112223.0],
       ['BMW', 'Missing', 5.0, 206446.0],
       ['Honda', 'Green', 4.0, 130075.0],
       ['Nissan', 'Green', 4.0, 87701.0],
       ['Honda', 'Red', 4.0, 16079.0],
       ['Toyota', 'White', 4.0, 172018.0],
       ['Nissan', 'White', 4.0, 19265.0],
       ['Nissan', 'Blue', 4.0, 34024.0],
       ['Honda', 'White', 4.0, 56534.0],
       ['Toyota', 'White', 4.0, 22257.0],
       ['Toyota', 'Missing', 4.0, 192890.0],
       ['Toyota', 'Green', 4.0, 133706.16853932585],
       ['Toyota', 'Black', 4.0, 93054.0],
       ['Honda', 'Blue', 4.0, 31677.0],
       ['Toyota', 'Blue', 4.0, 222542.0],
       ['Nissan', 'Blue', 4.0, 179666.0],
       ['Toyota', 'Black', 4.0, 86696.0],
       ['Toyota', 'Blue', 4.0, 240627.0],
       ['Toyota', 'Green', 4.0, 109868.0],
       ['Toyota', 'White', 4.0, 119439.0],
       ['Toyota', 'Blue', 4.0, 85473.0],
       ['Nissan', 'White', 4.0, 82429.0],
       ['Nissan', 'Blue', 4.0, 133706.16853932585],
       ['Missing', 'Blue', 4.0, 179468.0],
       ['Toyota', 'White', 4.0, 216647.0],
       ['Honda', 'Black', 4.0, 237861.0],
       ['Nissan', 'White', 4.0, 123121.0],
       ['Honda', 'Blue', 4.0, 50417.0],
       ['Toyota', 'Blue', 4.0, 229110.0],
       ['Toyota', 'Blue', 4.0, 29856.0],
       ['Nissan', 'White', 4.0, 43540.0],
       ['Nissan', 'Black', 4.0, 239908.0],
       ['Missing', 'White', 4.0, 103728.0],
       ['Missing', 'White', 4.0, 138294.0],
       ['Nissan', 'Red', 4.0, 124112.0],
       ['Nissan', 'Red', 4.0, 166895.0],
       ['Nissan', 'White', 3.0, 133706.16853932585],
       ['Toyota', 'White', 4.0, 177571.0],
       ['Toyota', 'White', 4.0, 227387.0],
       ['Toyota', 'White', 4.0, 133706.16853932585],
       ['Toyota', 'Red', 4.0, 157432.0],
       ['Honda', 'Blue', 4.0, 68223.0],
       ['Honda', 'Blue', 4.0, 84719.0],
       ['Honda', 'Green', 4.0, 47019.0],
       ['Toyota', 'Black', 4.0, 201753.0],
       ['Missing', 'Blue', 4.0, 96363.0],
       ['Nissan', 'White', 4.0, 48730.0],
       ['Honda', 'Green', 4.0, 94062.0],
       ['Honda', 'Red', 4.0, 111727.0],
       ['Missing', 'Blue', 4.0, 73926.0],
       ['Nissan', 'Red', 4.0, 61892.0],
       ['Nissan', 'Blue', 4.0, 124116.0],
       ['Nissan', 'Blue', 4.0, 111256.0],
       ['Missing', 'Blue', 4.0, 216250.0],
       ['Missing', 'Black', 4.0, 189001.0],
       ['Honda', 'White', 4.0, 134949.0],
       ['BMW', 'White', 5.0, 29534.0],
       ['Toyota', 'White', 4.0, 110362.0],
       ['Honda', 'White', 4.0, 148238.0],
       ['Toyota', 'Blue', 4.0, 193276.0],
       ['Toyota', 'Green', 4.0, 132714.0],
       ['Toyota', 'Blue', 4.0, 23241.0],
       ['Toyota', 'Red', 4.0, 190211.0],
       ['Toyota', 'White', 4.0, 112968.0],
       ['Nissan', 'White', 4.0, 192747.0],
       ['Honda', 'Missing', 4.0, 118609.0],
       ['Toyota', 'Blue', 4.0, 63975.0],
       ['Honda', 'White', 4.0, 56523.0],
       ['Honda', 'Green', 4.0, 133706.16853932585],
       ['Honda', 'White', 4.0, 214405.0],
       ['Toyota', 'Green', 4.0, 221725.0],
       ['Honda', 'Blue', 4.0, 196835.0],
       ['Honda', 'Red', 4.0, 47933.0],
       ['Honda', 'White', 4.0, 219635.0],
       ['Honda', 'White', 4.0, 133706.16853932585],
       ['Nissan', 'Blue', 4.0, 189182.0],
       ['Toyota', 'Blue', 4.0, 213893.0],
       ['Toyota', 'Black', 4.0, 35820.0],
       ['BMW', 'Red', 5.0, 131587.0],
       ['Honda', 'White', 4.0, 178134.0],
       ['Honda', 'Missing', 4.0, 133706.16853932585],
       ['Honda', 'Red', 4.0, 98523.0],
       ['BMW', 'White', 5.0, 23996.0],
       ['Toyota', 'White', 4.0, 239760.0],
       ['Toyota', 'White', 4.0, 183368.0],
       ['Toyota', 'White', 4.0, 134862.0],
       ['Honda', 'Green', 4.0, 81764.0],
       ['Toyota', 'Green', 4.0, 151291.0],
       ['BMW', 'Blue', 3.0, 130817.0],
       ['Honda', 'Green', 4.0, 208651.0],
       ['Nissan', 'Missing', 4.0, 206073.0],
       ['Toyota', 'White', 4.0, 164093.0],
       ['Honda', 'Blue', 4.0, 133706.16853932585],
       ['Honda', 'White', 4.0, 136340.0],
       ['Honda', 'Blue', 4.0, 217068.0],
       ['Toyota', 'Red', 4.0, 148518.0],
       ['Honda', 'White', 4.0, 29514.0],
       ['Toyota', 'White', 4.0, 72118.0],
       ['BMW', 'Red', 5.0, 208124.0],
       ['Honda', 'White', 4.0, 171260.0],
       ['BMW', 'Black', 5.0, 204746.0],
       ['Missing', 'Missing', 4.0, 61876.0],
       ['Honda', 'White', 4.0, 28791.0],
       ['Honda', 'Black', 4.0, 61120.0],
       ['Toyota', 'Black', 4.0, 121160.0],
       ['Toyota', 'Blue', 4.0, 223390.0],
       ['Missing', 'White', 3.0, 133069.0],
       ['Toyota', 'White', 4.0, 46848.0],
       ['Toyota', 'Red', 4.0, 86284.0],
       ['Toyota', 'White', 4.0, 231683.0],
       ['Toyota', 'Black', 4.0, 71463.0],
       ['BMW', 'Black', 5.0, 181572.0],
       ['Toyota', 'White', 4.0, 221050.0],
       ['Honda', 'White', 4.0, 192655.0],
       ['Toyota', 'Blue', 4.0, 200597.0],
       ['Toyota', 'Green', 4.0, 180760.0],
       ['BMW', 'White', 5.0, 102773.0],
       ['Honda', 'White', 4.0, 25729.0],
       ['Honda', 'White', 4.0, 237209.0],
       ['Missing', 'Blue', 4.0, 23545.0],
       ['BMW', 'Blue', 5.0, 31277.0],
       ['BMW', 'White', 5.0, 26531.0],
       ['Honda', 'White', 4.0, 82518.0],
       ['Honda', 'White', 4.0, 152212.0],
       ['Toyota', 'Red', 4.0, 133195.0],
       ['Toyota', 'Blue', 4.0, 232912.0],
       ['Toyota', 'White', 4.0, 124205.0],
       ['Honda', 'Missing', 4.0, 144093.0],
       ['Toyota', 'Black', 4.0, 72287.0],
       ['Honda', 'Blue', 4.0, 78153.0],
       ['Toyota', 'Blue', 4.0, 89641.0],
       ['Honda', 'Missing', 4.0, 213793.0],
       ['Nissan', 'Green', 3.0, 76610.0],
       ['Toyota', 'White', 4.0, 81656.0],
       ['Nissan', 'White', 3.0, 133706.16853932585],
       ['Toyota', 'Blue', 4.0, 238425.0],
       ['Missing', 'Black', 4.0, 224479.0],
       ['BMW', 'Red', 5.0, 156064.0],
       ['Honda', 'Black', 4.0, 27788.0],
       ['Honda', 'White', 4.0, 133706.16853932585],
       ['Toyota', 'Red', 4.0, 49807.0],
       ['Honda', 'White', 4.0, 113704.0],
       ['Toyota', 'White', 4.0, 149989.0],
       ['BMW', 'White', 5.0, 178796.0],
       ['Honda', 'White', 4.0, 21393.0],
       ['Honda', 'Black', 4.0, 143649.0],
       ['Honda', 'White', 4.0, 34822.0],
       ['Honda', 'White', 4.0, 136279.0],
       ['BMW', 'Blue', 5.0, 212644.0],
       ['Toyota', 'White', 4.0, 223727.0],
       ['Nissan', 'White', 4.0, 24420.0],
       ['Honda', 'White', 4.0, 161712.0],
       ['Toyota', 'Blue', 4.0, 165301.0],
       ['Honda', 'Black', 4.0, 119033.0],
       ['Toyota', 'Black', 4.0, 86333.0],
       ['Toyota', 'White', 4.0, 69222.0],
       ['BMW', 'White', 5.0, 69066.0],
       ['Honda', 'White', 4.0, 178351.0],
       ['Nissan', 'White', 3.0, 213449.0],
       ['Nissan', 'Red', 3.0, 196130.0],
       ['BMW', 'White', 5.0, 85739.0],
       ['BMW', 'Blue', 3.0, 163322.0],
       ['Nissan', 'White', 4.0, 195056.0],
       ['Honda', 'Green', 4.0, 165101.0],
       ['Nissan', 'Green', 3.0, 153554.0],
       ['Toyota', 'White', 4.0, 108569.0],
       ['BMW', 'Black', 3.0, 201190.0],
       ['Honda', 'White', 4.0, 61163.0]], dtype=object)

In [19]:
Filled_x_train=pd.DataFrame(Filled_train,columns=['Make','Colour','Doors','Odometer (KM)'])
Filled_x_train

       Make   Colour Doors Odometer (KM)
0     Honda    White     4         71934
1    Toyota      Red     4        162665
2     Honda    White     4         42844
3     Honda    White     4        195829
4     Honda     Blue     4        219217
..      ...      ...   ...           ...
755  Toyota  Missing     4        218803
756     BMW     Blue     5        245427
757  Toyota    White     4        196225
758   Honda     Blue     4        133117
759   Honda  Missing     4        150582

[760 rows x 4 columns]

In [20]:
Filled_x_test=pd.DataFrame(Filled_test,columns=['Make','Colour','Doors','Odometer (KM)'])
Filled_x_test

       Make Colour Doors Odometer (KM)
0    Toyota   Blue     4         99761
1    Toyota  Black     4         17975
2     Honda   Blue     4        197664
3    Nissan  Green     4        235589
4     Honda  Black     4        231659
..      ...    ...   ...           ...
185   Honda  Green     4        165101
186  Nissan  Green     3        153554
187  Toyota  White     4        108569
188     BMW  Black     3        201190
189   Honda  White     4         61163

[190 rows x 4 columns]

In [21]:
Filled_x_train.isnull().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [22]:
Filled_x_test.isnull().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [23]:
Data.isnull().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [24]:
from sklearn.preprocessing import OneHotEncoder
OHE=OneHotEncoder()

In [25]:
Categorical_Feature=['Make','Colour','Doors']

In [26]:
Transformer=ColumnTransformer([('One Hot',OHE,Categorical_Feature)],remainder='passthrough')
Transformed_x_train=Transformer.fit_transform(Filled_x_train)
Transformed_x_test=Transformer.fit_transform(Filled_x_test)

In [27]:
Transformed_x_train.toarray()

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 7.19340e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.62665e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 4.28440e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.96225e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.33117e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.50582e+05]])

In [28]:
Transformed_x_test.toarray()

array([[0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 9.97610e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.79750e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.97664e+05],
       ...,
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.08569e+05],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 2.01190e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.11630e+04]])

In [29]:
from sklearn.ensemble import RandomForestRegressor
RFC=RandomForestRegressor()

In [30]:
RFC.fit(Transformed_x_train,y_train)

RandomForestRegressor()

In [31]:
RFC.score(Transformed_x_test,y_test)

0.23382408429281998